/node_modules
/public/hot
/public/storage
/public/pictures
/public/banners
/public/assets/img
/public/mov_bbb.mp4
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
